
.wrap{
    position: relative;
    width: 100%;
    height: 115px;
    background: rgb(204, 152, 22);
    box-shadow: rgb(0 0 0 / 7%) 0px 10px 20px;
}

.row{
    position: relative;
    width: 90%;
    height: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.logo img{
    display: block;
    width: 20%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    padding-left: 10px;
}
@media only screen and (min-width: 361px) and (max-width: 768px){}
.navigation{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
}

.one{
    cursor: pointer;
    position: relative;
    margin-left: 50px;
    height: 40px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
a p{
    transition: all 0.1s ease 0s;
    font-size: 14px;
    font-weight: bold;
    color: rgb(48, 47, 56);
}
.second{
    cursor: pointer;
    position: relative;
    margin-left: 50px;
    height: 40px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.third{
    cursor: pointer;
    position: relative;
    margin-left: 50px;
    height: 40px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.forth{
    cursor: pointer;
    position: relative;
    margin-left: 50px;
    height: 40px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./upstairs.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 1s;
    width: 20%;
    border-radius: 5px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  img {
    border-radius: 5px 5px 0 0;
  }
  
  .container {
    padding: 2px 16px;
  }
  .allcards1{
      display: flex;
      padding: 100px;
      float: center;
      
  }
  .allcards2{
    display: flex;
    padding: 100px;
    margin: 0%;
}
.button1{
    background-color: yellow;
    color: black;
}
.project{
    text-align: center;

}
.all{
    background-color:rgb(204, 152, 22);
}
footer{
    background-color: black;
    color: white;
    height: 40px;
    text-align: center;

}